*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', sans-serif;
    
}

header {
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header .list-item a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding: 15px;

}

header .logo a{
    text-decoration: none;
    font-size: 40px;
    font-weight: 800;
    color: white;
    padding: 20px 28px;
    
}
.instagram-logo img {
    width: 13px;
    height: auto

  }
  

#hero{
    height: 50vh;
    background-image: url('../resorces/image/BANNER8.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
   
}
    
#hero h1{
    font-size: 90px;
    font-weight: 400;
    margin-bottom: 30px;
    color:black;
    

}
#hero p{
    color: white;
    font-size: 20px;
    margin-bottom: 48px;
    
}

 #pics{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 45px;

 }
 #pics h2{
    color: black;
    font-weight: 600;
    font-size: 65px;  
    text-align: center;  
    margin-bottom: 32px;
 }
 #pics .gallery .fila {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    margin-bottom: 32px; 
}

#pics .gallery .fila.fila-normal {
    flex-direction: row; 
}

#pics .gallery .fila.fila-inversa {
    flex-direction: row-reverse; 
}

#pics .GalleryImg img {
    height: auto;
    width: 100%;
    max-width: 600px; 
    object-fit: cover;
}

#pics .GalleryText {

    width: 50%; 
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}
#main1 {
    text-align: center; 
    padding: 20px;
}

#main1 p {
    font-size: 25px;
    margin: 0 0 30px 0;
    padding: 10 20px; 
}

.contenedormain {
    display: flex;
    justify-content: center;
    align-items: stretch; 
    gap: 10px;
}

.contenedormain img {
   
    width: calc(33.333% - 10px);
    height: auto;
}



#contacto {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 60vh;
    padding: 20px;
}






footer {
    height: 30px;
    width: 100%;
    position: end;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    font-size: small;


}
#products{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 35px 45px;
    
}
#products h2{
    color: black;
    font-weight: 800;
    font-size: 65px;
    text-align: center;
    margin-bottom: 60px;
    
}

#products .container-products1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px; 
    background-color: rgba(0,0,0,0.05);
    padding: 25px;
}

#products .container-products2 {
display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px; 
    background-color: rgba(0,0,0,0.05);
    padding: 25px;
}

.container-products1 .product h3{
    text-align: center;

}
.container-products1 .product p{
    text-align: justify;
}

.container-products1 .product a{ 
background-color: white;
padding: 12px 24px;
border-radius: 8px;
color: black;
font-size: 18px;
font-weight: 500;
text-decoration: none;
width: fit-content;


}
#products .container-products2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.05);
    padding: 10px;


}


.container-products2 .product{
    width: 33%;
    padding: 20px;

}
.container-products2 .product h3{
    text-align: center;

}
.container-products2 .product p{
    text-align: justify;
}
.container-products2 .product a{ 
    background-color: white;
    padding: 12px 24px;
    border-radius: 8px;
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    width: fit-content;
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        align-items: center;
    }
    header ul {
        flex-direction: column;
    }
    header .logo a {
        font-size: 24px; 
        padding: 10px 0; 
    }
    header .list-item a {
        font-size: 14px; 
        padding: 5px; 
    }

    #hero {
    height: 30vh; 
    padding: 20px; 
    }
    #hero h1 {
        font-size: 48px; 
        margin-bottom: 15px;
    }
    #hero p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    #pics .gallery .fila, #products .container-products1, #products .container-products2 {
        flex-direction: column;
        align-items: center;
    }
    .container-products1 .product, .container-products2 .product {
        width: 100%; 
        padding: 10px; 
    }
    #pics .GalleryImg img, #pics .GalleryText {
        width: 100%; 
    }


    footer {
        flex-direction: column;
        justify-content: center;
        padding: 10px 0; 
    }
    
    
}
